@import '../../css/animate';

$colors: (#433156), (#3d6d6f), (#717042), (#983636), (#2a3165);

.rcp-loader-2__box {
  > li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    border-radius: 100%;
    animation: slide 1s infinite;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        animation-delay: 0.1s * $i;
        background: #{nth($colors, $i)};
      }
    }
  }

  @keyframes slide {
    0% {
      transform: scale(1);
    }

    50% {
      opacity: 0.3;
      transform: scale(2);
    }

    100% {
      transform: scale(1);
    }
  }
}
