@import '../../css/animate';

$colors: (#007db6), (#008fb2), (#009b9e), (#00a77d), (#00b247), (#5ab027), (#a0b61e), (#98b3ad);

.rcp-loader-1__box > span {
  display: inline-block;
  vertical-align: middle;
  width: 0.7em;
  height: 0.7em;
  margin: 0.19em;
  border-radius: 0.7em;
  animation: loading 1s infinite alternate;

  @for $i from 1 through 8 {
    &:nth-of-type(#{$i}) {
      animation-delay: 0.2s * $i;
      background: #{nth($colors, $i)};
    }
  }
}

.rcp-loader-1__content {
  color: #69f;
  margin-bottom: 10px;
  font: {
    size: 1.2em;
    family: verdana, sans-serif;
  };

  text-transform: uppercase;
  letter-spacing: 0.2em;

  &::before {
    content: 'LOADING...';
    position: absolute;
    overflow: hidden;
    max-width: 9em;
    color: #a481b9;
    animation: txtLoading 2.2s linear infinite;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes txtLoading {
  from { max-width: 0; }
}
